// background colors
$bg-gray: rgb(133, 133, 131);
$bg-light-gray: #f8f8f8;
$bg-white: rgb(255, 255, 255);
$primary: rgb(250, 191, 61);
// text color
$text-black: rgb(30, 30, 28);
$text-yellow: rgb(250, 191, 61);
$text-light-yellow:rgb(197, 165, 104);
$btn-yellow: rgb(250, 191, 61);
$btn-yellow-hover: rgb(200, 150, 30);
$btn-box-shadow: rgb(232, 164, 47, 0.35);
$btn-box-shadow-hover: rgb(232, 164, 47, 0.5);
$text-gray: rgb(123, 123, 121);
